[2021-11-18 22:25] GoliathLabs opened #22 "Switch over to nodejs 17"
We should switch to nodejs 17.

[2021-11-18 22:26] GoliathLabs opened #23 "Add caching for the workflows"
The build takes forever, a cache could shorten the build time

[2021-11-18 22:27] DasSkelett commented on #22
Linking #15 for the automated dependabot PR that we closed. There were still some problems with third-party dependencies not working with NodeJS 17, we can track them here.

[2021-11-21 23:17] nils1323 opened #25 "Failed to set ip address of wireguard interface: permission denied"
Hey, I'm trying to setup the container with docker-compose. I also tried the docker version. Everything as root. Im getting the following trace:
[code]

The suggested "fast" setup is also not working and throws the same trace.

Used Configs:
[code]
The peers are connecting through interface ens19 with a public IP and should be able to access interface ens18 with 10.10.1.0/24.
operating System: deb

[2021-11-22 09:49] GoliathLabs commented on #25
Hi,
yes, we should work on our documentation.

Try adding
[code]

to your wireguard service in the docker-compose file.

Also, this should be added as well (as we're using IPv6, too)
[code]

[2021-11-22 09:53] GoliathLabs opened #26 "Update the documentation"
We should update our documentation on how to set up this fork, as some important steps are missing.

[2021-11-22 16:30] #26 closed

[2021-11-22 18:08] #23 closed

[2021-12-02 19:01] #25 closed

[2021-12-04 17:44] DasSkelett commented on #23
https://github.com/freifunkMUC/wg-access-server/runs/4418221183?check_suite_focus=true took only 23 minutes :tada:
And that one had to rebuild the frontend files (`npm build`), which is one of the more expensive steps, especially for cross-compiled architectures it appears.

[2021-12-17 12:44] awlx opened #43 "IPv6 always adds a NAT rule"
Even when I add a public /64 a NAT rule is generated, which blocks the traffic:
[code]
Manually deleting that rule fixes the issue:
[code]

[2021-12-17 13:24] awlx commented on #43
Didn't see this thank you!

[2021-12-17 13:24] #43 closed

[2021-12-17 13:35] awlx commented on #43
@DasSkelett I add it to the docs

[2022-01-03 18:22] #22 closed

[2022-01-10 12:49] Bouni opened #58 "Import existing config, show QR Code again"
Hi,

I wnt to switch from [vx3r/wg-gen-web](https://github.com/vx3r/wg-gen-web) to [freifunkMUC/wg-access-server](https://github.com/freifunkMUC/wg-access-server).

I have existing configurations and ideally I would like to import them. Is there a way to do that?

And my second question is, is there a way to show the QR code again or download the config file at a later point in time?

[2022-01-10 13:15] DasSkelett commented on #58
Hey,
there's no built-in way to import existing configurations from other projects. If you really need to, you could manually insert the data into the database (SQLite, PosgreSQL, MySQL), but it's probably not worth it.

Client QR codes and configs cannot can't be re-displayed. That would require the private key, which the server doesn't store. But you can just delete the old device and create a n

[2022-01-10 13:20] Bouni commented on #58
Ok, thanks for you answers!

[2022-01-10 13:20] #58 closed

[2022-01-12 17:07] CookieCr2nk opened #59 "VPN Routing not working"
Hello Maintainers,

I deployed recently a test instance of the wg-access-server. I did exactly the following steps that are documentated on the documentation: "https://www.freie-netze.org/wg-access-server/deployment/2-docker-compose/".

1. Is it possible to use my own DNS IP's with the env variable WG_DNS_UPSTREAM, because my resolv.conf contains 127.0.0.53 which is the local dns-resolver of ubunt

[2022-01-12 17:36] GoliathLabs commented on #59
Regarding the DNS lookup, try to specify only one IP (e.g. `WG_DNS_UPSTREAM=172.64.36.1`)

[2022-01-12 17:40] GoliathLabs commented on #59
Can you show us a generated client config (omit sensitive values)?

[2022-01-12 17:46] DasSkelett commented on #59
[code]
This looks suspicious. You are running it inside Docker, and as far as I know, inside the container the default interface is always named `eth0`.
Try leaving this variable undefined to let the automated detection take care of it, and see if it works then.

And yeah, for the DNS upstream, it looks like the splitting when reading from environment variables doesn't work.
I'll look into a fix f

[2022-01-12 17:55] CookieCr2nk commented on #59
Thx for the fast answer. So misunderstanding on my site. I expected that the variable "WG_VPN_GATEWAY_INTERFACE" needs the physical Interface.

I'm Happy 👍

My actually Configuration that is working now. ->

docker-compose.yml
[code]

[2022-01-12 17:56] GoliathLabs commented on #59
Good to hear 😄  We're always happy to help. Don't forget to close this issue

[2022-01-12 17:58] #59 closed

[2022-01-20 10:27] GoliathLabs opened #60 "Wrong link to helm chart documentation"
Hi,
I've come across a PR on the upstream project which fixes the incorrect link for the helm chart documentation (https://github.com/Place1/wg-access-server/pull/138)

[2022-01-20 10:29] GoliathLabs opened #61 "Add configurable session affinity to helm chart"
Hi,
I've come across a PR over on upstream which adds a proper session affinity so a load balancer on e.g. AWS EKS can be configured properly by our helm chart (https://github.com/Place1/wg-access-server/pull/153)

[2022-01-24 05:05] nodesocket opened #65 "Helm chart with ingress fails to install - no matches for kind "Ingress" in version "networking.k8s.io/v1beta1""
[code]

Contents of `wg-access-server.yaml` is:

[code]

### Environment

Raspberry Pi running Debian GNU/Linux 11 (bullseye) linux/arm64

[code]

[2022-01-24 05:06] gravypod opened #66 "Generate DNS entries for connected hosts."
It would be awesome if you could generate DNS names for clients connected to the network. For a given search domain of `vpn` it would be great if `<machine>.<user>.vpn` would resolve to the IP address of the client. It would be even better if you could have a wildcard DNS setup for `<application>.my-machine.admin.vpn` this way you could use vhosts on a machine to forward many applications.

[2022-01-24 05:16] nodesocket commented on #65
Looks like we just need to do some helm branching on the `apiVersion` in `ingress.yaml`:

https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/templates/ingress.yaml#L3

Something like:

[code]

[2022-01-24 05:42] nodesocket commented on #65
There is a fully updated PR for the Helm chart to modernize it at origin https://github.com/Place1/wg-access-server/pull/167.

[2022-01-24 06:29] Place1 opened #67 "Original Author here"
Hey guys, just saw this fork on hackernews: https://news.ycombinator.com/item?id=30047440

Just wanted to say thanks and wish you the best for where you decide to take the code in the future :D

[2022-01-24 06:29] #67 closed

[2022-01-24 07:50] GoliathLabs commented on #65
@nodesocket We wanted to have a look over the upstream PRs soon anyways. So we'll try to merge this request as well to bring proper helm support back to the fork :)

[2022-01-24 07:53] GoliathLabs commented on #67
@Place1 thank you very much for your great work on this project. Without you it would not have been possible for us to work on it ourselves. Maybe there is a chance that our changes can be merged upstream?

[2022-01-24 08:47] #60 closed

[2022-01-24 09:16] GoliathLabs commented on #67
@Place1 Since we have seen that there is still some interest in this project in the community, would it be possible for us to continue your legacy as maintainers for project? Most people are still using your repository, which does not yet include features such as IPv6, ARM support, etc.

Thus we'd like to ask if you'd be up for a repository transfer so that we can continue with the user base that

[2022-01-24 09:20] #65 closed

[2022-01-24 09:22] #61 closed

[2022-01-24 09:23] awlx opened #68 "Use proper tags for releases"
To make this project more stable, we should use proper Github releases and tags.

[2022-01-24 09:24] GoliathLabs commented on #68
That's what I've thought about too as I'm normally using tagged versions anyways

[2022-01-24 09:28] GoliathLabs commented on #67
Or maybe link to this fork and archive the repo so new users can get the new features and updates of this fork instead

[2022-01-24 09:55] awlx commented on #65
@nodesocket We merged it to `master`

[2022-01-24 12:44] GoliathLabs commented on #68
We still need to implement building and pushing tags to the ghcr
While we're on it we might also add dockerhub as a second container registry?

[2022-01-24 12:59] awlx commented on #68
@GoliathLabs PRs are welcome :). I don't know if we really need a second registry.

[2022-01-24 14:26] nodesocket commented on #65
@awlx don’t  you have to bump the Helm chart version here and push a new version up to the registry?

https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/Chart.yaml

[2022-01-24 14:27] awlx commented on #65
@nodesocket true ... forgot about that. Sorry!

[2022-01-24 19:30] GoliathLabs opened #71 "Add Docker Hub as a second registry"
We should also push our images to Docker Hub as this is the far more popular registry and new users can see that we are also pushing newer images that can replace the upstream images on Docker Hub

[2022-01-24 20:38] DasSkelett commented on #71
What made me finally abandon Docker Hub was their (then newly added) restriction of only _one_ personal access tokens for free accounts. I definitely do not want to share a single token across all my devices, GitHub repos, GitLab repos etc.
That might not be a issue for FFMUC if we just set an organization-wide secret. Or maybe a paid subscription to fully get rid of this restriction (and any othe

[2022-01-24 21:08] GoliathLabs commented on #71
Yeah, their pricing is quite ridiculous
![image](https://user-images.githubusercontent.com/8057646/150865020-ab71abb6-1a67-4e16-ace3-96b5e1fd1d10.png)

[2022-01-24 21:09] GoliathLabs commented on #71
Nonetheless I've contacted @awlx if we could add my token in the meantime as we're using ghcr.io anyways

[2022-01-24 21:47] awlx commented on #71
Tbh, sticking it to an account makes me ... not wanting to publish it on Dockerhub @GoliathLabs.

[2022-01-25 05:06] nodesocket commented on #65
@awlx I am seeing the following `ErrImagePull`. Seems to still be trying to pull from the `place1` registry? Humm.

[code]

[2022-01-25 05:11] nodesocket commented on #65
@awlx indeed, hard coded to use the `place1/wg-access-server` repository. Is that right?

https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/values.yaml#L54

[2022-01-25 08:32] awlx commented on #65
@nodesocket nope it's not *sigh* need to fix that as well.

[2022-01-25 13:57] mangopissemand1 opened #73 "(request) Heruko deployment"
As the title says, make it useable for heruko so we can depoly there

[2022-01-25 14:01] GoliathLabs opened #74 "Add a proper PR / Issue template to this repo"
Hello,
we may want to add a proper template for issues and PR requests to this repo, so that we can get useful information in case of issues or a proper description for new features and pull requests.

[2022-01-25 15:14] T0biii commented on #74
maybe we should then use a template for all our Repos?
In this Repo: https://github.com/freifunkMUC/.github you can place PR / Issue template.

[2022-01-25 18:55] #71 closed

[2022-01-25 20:58] DasSkelett commented on #73
For someone completely unfamiliar with Heroku, how would that look like? What would need to be done to make the project usable with Heroku?
Would this only require action once (like creating some sort of config file in the repository, similar to docker-compose.yml or Helm charts), or would this require continuous maintenance?

[2022-01-25 21:46] #68 closed

[2022-01-25 21:59] GoliathLabs commented on #74
@T0biii That's a good idea. Is it possible that the templates are overwritten in certain repositories, since it's hard to find templates that fit them all?

[2022-01-25 22:13] GoliathLabs opened #76 "Add supported architectures"
All upstream images used support both ppc64le and s390x architectures. Therefore, I would like to add them to our Docker build as well (just in case someone using those architectures wants to use our image).

Regarding the extra time needed to build the images: The additional architectures are only built when commits are pushed to master, so it will only take a little more time after a PR is merge

[2022-01-25 22:35] DasSkelett commented on #76
"A little" is relative, the go binary compilation for the ARM images take ages (and for some reason don't seem to be re-used from cache as often):
- arm/v7:  [1884.3s](https://github.com/freifunkMUC/wg-access-server/runs/4923436460?check_suite_focus=true#step:7:1122) [2497.6s](https://github.com/freifunkMUC/wg-access-server/runs/4875586234?check_suite_focus=true#step:7:1435)
- arm64: [2069.4s](htt

[2022-01-25 22:46] DasSkelett commented on #76
Well, we already haven encountered such a situation right now:
![Docker image build race condition](https://user-images.githubusercontent.com/28812678/151072449-f50ab1da-7f28-4aa6-b45c-35c7e1d6cb01.png)

Fortunately the changes there are not end-user visible, but it's definitely a problem.

[2022-01-25 22:52] GoliathLabs commented on #76
Yeah, you're right. We might just build for those additional architectures when a new tag is created then?

[2022-01-25 23:09] DasSkelett commented on #76
Would be a possible solution, but that leaves the risk of an architecture breaking without anyone noticing until a release happens. Unlikely to happen (for our code at least, it's all true, platform-independent Go code), though.

Alternatively, we could switch the base images to e.g. Debian, where all the cross-compilation toolchains are packaged. But that would bump the image size quite a bit.
Or

[2022-01-25 23:38] nodesocket commented on #65
@awlx don't we have to bump the helm chart version again to pull down this fix?

https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/Chart.yaml#L2

[2022-01-26 00:12] nodesocket commented on #65
@awlx before you bump the helm chart version, looks like the image repo is still incorrect. Should it be `ghcr.io/freifunkmuc/wg-access-server`?

[code]

[2022-01-26 07:25] T0biii commented on #74
yea i think so, you can overwrite it, just create a template in the repo where you dont want it

[2022-01-26 08:38] GoliathLabs opened #77 "Create proper helm chart github workflow"
We need to add another workflow which takes care of helm chart updates (https://github.com/helm/chart-releaser-action)

[2022-01-26 10:21] GoliathLabs opened #79 "Use our version of pg-events"
We might want to use our version of pg_events as we've done some changes to it (mainly go mod updates) https://github.com/freifunkMUC/pg-events

[2022-01-26 15:24] #79 closed

[2022-01-26 16:49] DasSkelett commented on #76
Apparently the number of jobs running in parallel is unlimited by default for buildx and the build-push-action.
With the CPU- and RAM-heavy compilation on the relatively low-powered GitHub Actions VMs, all the context switches might be slowing it down quite a bit.
There is an easy way to limit the parallelism: https://github.com/docker/setup-buildx-action#max-parallelism

I'm going to try out and

[2022-01-26 18:50] mangopissemand1 commented on #73
My use case is to use their servers as they are hosted on aws for free. I dont know about all the other parts, but i've seen it done before, but not using wireguard

[2022-01-26 21:20] nodesocket opened #82 "Deployment via Helm chart - missing admin password: please set via environment variable, flag or config file"
Using the latest Helm chart version `ghcr.io/freifunkmuc/wg-access-server:v0.5.1` and upon boot, the pod crashes with the following:

[code]

My values file is:

[code]

[2022-01-26 21:36] GoliathLabs commented on #82
Hi, you need to add an admin password in your values.yaml file ( https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/values.yaml#L7).

[2022-01-26 21:38] GoliathLabs commented on #82
If I remember correctly, we don't yet have the option to disable admin access or set a random password if none has been provided.

[2022-01-26 23:31] nodesocket commented on #82
@GoliathLabs ahh ok. Would be good to update the example values in the readme https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/README.md

[2022-01-26 23:47] nodesocket commented on #82
Well, now a new issue. @GoliathLabs and @awlx

[code]

[2022-01-27 07:47] DasSkelett commented on #73
Since we don't have any details and don't know how this "usable for Heroku" looks like, and since I'd have to spend a lot of time looking into Heroku and learning the ins and outs of it, figuring out how it works, what we'd have to do, and all for a questionable benefit, I'd consider this out of scope for the project.

If someone else give us more details in the future, we can pick it up again.

[2022-01-27 07:47] #73 closed

[2022-01-27 08:08] DasSkelett commented on #82
If I have to guess, the container is missing CAP_NET_ADMIN. I found this in another repo:
https://github.com/ionos-enterprise/helm-net-cmds/blob/ac9e352c1dfe7a758fdd4558d6d814cd79eac2f5/values.yaml#L5-L8
https://github.com/ionos-enterprise/helm-net-cmds/blob/ac9e352c1dfe7a758fdd4558d6d814cd79eac2f5/templates/daemonset.yaml#L21-L22

But I can't find this documented anywhere on https://helm.sh/docs/

[2022-01-27 09:43] GoliathLabs commented on #82
@DasSkelett, what I find quite interesting is that we have already set the NET_ADMIN security context (https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/templates/deployment.yaml#L34)

[2022-01-27 23:27] nodesocket commented on #82
@GoliathLabs I took a quick peek and confirm the addition of `NET_ADMIN` looks right at:

https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/templates/deployment.yaml#L34

Do we need `allowPrivilegeEscalation: true`?

Doing a describe on the pod does not show `NET_ADMIN` is set, but perhaps that is just not added to describe?

[code]

[2022-01-28 16:26] #76 closed

[2022-01-31 21:08] gravypod commented on #66
Hey! Sorry it's taken me a while to get back @DasSkelett. Ideally it could be built directly into the [dnsproxy](https://github.com/freifunkMUC/wg-access-server/blob/master/internal/dnsproxy/server.go). You could also add `Domain` to the [wireguard config](https://wiki.archlinux.org/title/WireGuard#:~:text=file%20using%20the-,DNS%3D,option,-.%20See%20systemd.network) to configure a [search domain]

[2022-02-01 17:11] zandemax commented on #82
Hi @nodesocket, I can replicate your problem on my machine. It has nothing to do with privileges as far as I can tell, but rather it is caused by IPv6.
As a quick fix you can try to disable IPv6 by adding the following snippet to your values.yaml:
[code]
This fixes the problem for me, and the server starts normally.
Unfortunately, i was not yet able to find the root cause for this, since it works

[2022-02-01 17:25] DasSkelett commented on #82
Ah! Thanks for the notes @zandemax!
New guess based on that: `net.ipv6.conf.all.disable_ipv6` is `1` by default in k8s containers?
It is at least in normal Docker and you have to pass `--sysctl net.ipv6.conf.all.disable_ipv6=0` and `--sysctl net.ipv6.conf.all.forwarding=1` to the `docker run` command.

Next question then: how to set sysctls in the templates and does it really fix it? @zandemax is

[2022-02-01 17:38] zandemax commented on #82
Hi @DasSkelett, good guess! `net.ipv6.conf.all.disable_ipv6` is indeed `1` in the container.
I also read up on it a little, and it appears that IPv6 is not really a first-class citizen in the k8s-world (yet). IPv6 support is generally available since 1.20 and enabled by default since 1.21, but only if your network plugin supports it (as far as i found out thats only true for Calico and Kubenet so

[2022-02-01 21:17] DasSkelett commented on #82
Yeah, Kubernetes, like most of the container world unfortunately, are still a bit behind with IPv6.

Ideally we would get it to work correctly with IPv6 enabled on k8s. I have to think about a "IPv6-detection" feature for a little; this automagic behind-the-scenes type of features always increases complexity (need to interface with sysctl, what to do when the user explicitly enabled it but our det

[2022-02-02 09:22] fs111 opened #94 "support for Pre/Post Up/Down scripts"
First of all great project!

I am wondering if there is an interest in supporting Pre/Post Up/Down scripts. I have implemented something similar in another wireguard management project here: https://github.com/naggie/dsnet/commit/e782db30e9ab2758c54fdfd8f48736121cb5a24e

wg-access-server is already doing the iptables setup yet there is still a case where that could be useful. I am using a PostUp c

[2022-02-02 12:53] T0biii commented on #94
Sounds good to me. @DasSkelett @GoliathLabs
i think PRs are always welcome

[2022-02-02 13:21] zandemax commented on #82
@DasSkelett I tried out your idea of setting the sysctls on the pod.
Unfortunately, that does not work, as there is only a certain list of 'allowed' sysctls that you can set on a pod, and `net.ipv6.conf.all.disable_ipv6` is not among them, and would have to be enabled by setting a flag on the kubelet.
Documentation on this: https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/
So as

[2022-02-02 13:59] DasSkelett commented on #94
What additional routes would you like to add? If you want to route additional prefixes to the clients, that would require adding them to `AllowedIPs` for those as well, which is not possible with wg-access-server, and most likely won't be implemented because it is primarily intended for a simple road-warrior setup.

[2022-02-02 15:03] nodesocket commented on #82
@zandemax agree the way to go is disable ipv6 by default in values.yaml.

[2022-02-02 19:56] fs111 commented on #94
@DasSkelett one of the peers is a raspberry pi on my home network that acts as a router. I am pushing a route to that network via its wireguard IP, so that I can reach devices on my network that do not support wireguard

[2022-02-02 21:32] awlx opened #97 "Help wanted for maintaining Helm Charts"
Hello Kubernetes and Helm users!
We need help maintaining the Helm Chart, its documentation and other k8s-related things that might come up.
Nobody of the "freifunkMUC team" has the necessary knowledge for this, and none of us deploy it using Helm.

We've already set up a new repository, because I believe it will be easier to separate it from this one.
https://github.com/freifunkMUC/wg-access-serv

[2022-02-03 00:03] DasSkelett commented on #94
While I'm not sure whether your described setup would work like this, it looks like there is indeed some demand for arbitrary code execution on interface up/down.
So we'd very much welcome a PR, thanks!

[2022-02-03 00:12] DasSkelett commented on #94
It will need a permission check of the config file, the application should at least block the execution of the custom commands if it is not owned by `root:root` and `others` have write access; and the options should probably not be settable through env bars (would be ugly anyway).

[2022-02-04 15:36] GoliathLabs commented on #82
@nodesocket is it working now? We have merged the PR of @zandemax.

[2022-02-04 16:16] GoliathLabs opened #100 "(enhancement) Implement a proper health check probe"
We may want to add some kind of health check to our wg-access-server implementation. To achieve this, we may need to add a health check endpoint (see: https://docs.mattermost.com/manage/health-checks.html). This is especially useful on k8s clusters, as the failing pods can be automatically terminated and replaced by a newly scheduled one (https://kubernetes.io/docs/concepts/workloads/pods/pod-life

[2022-02-04 23:48] nodesocket commented on #82
@GoliathLabs thanks for all the help. I honestly switched to using the project [wg-easy](https://github.com/WeeJeWel/wg-easy) as the fancy bandwidth graphs candy caught my attention. _squirrel_

[2022-02-05 08:43] #82 closed

[2022-02-05 08:44] #77 closed

[2022-02-11 16:21] GoliathLabs opened #102 "Create mergeable config"
We might want to add a mergeable configuration for PRs so that the PR is created correctly with new entries in the changelog file, a good title, etc. (https://mergeable.readthedocs.io/en/latest/configuration.html)

[2022-02-22 18:54] DasSkelett commented on #66
Working on this now: <https://github.com/freifunkMUC/wg-access-server/compare/master...DasSkelett:feature/generate-client-dns>
I went with `vpn.home.arpa.` as default domain, as per [RFC 8375](https://www.rfc-editor.org/rfc/rfc8375.html).

I'm not yet sure whether `<device>.vpn` will work, as device names are not guaranteed to be unique across users. So this would only work if it's running with a

[2022-02-22 18:55] DasSkelett commented on #100
There already exists a basic one:
https://github.com/freifunkMUC/wg-access-server/blob/master/internal/services/health.go
https://github.com/freifunkMUC/wg-access-server/blob/349f5faee72371ad82e5055726ce389974b35880/cmd/serve/main.go#L167-L168

Seems to lack documentation.

It doesn't do any real checks though, like checking if the Wireguard interface is still up and the database can be queried or

[2022-02-26 09:17] adamhl8 opened #103 "Add /lib/modules volume to docker compose docs"
In the Docker Compose part of the docs and in the docker-compose.yml file itself within the repo, it's not mentioned that the `/lib/modules` volume needs to be mounted for the container to start. The docker run command provided at the top of the readme has this, so I think it should be added to the docker compose examples as well.

[2022-02-26 10:06] adamhl8 commented on #103
Ah, you're right, sorry. Turns out my container was crashing because I had IPv6 enabled. I disabled IPv6 and added that volume at the same time and assumed the volume was the issue.

[2022-02-26 10:06] #103 closed

[2022-02-26 10:42] GoliathLabs commented on #103
But you're right, we need /lib/modules for ip6tables inside the container for ipv6 support

[2022-03-02 02:13] halkeye opened #118 "Server errors don't actually log"
Looking at https://github.com/grpc-ecosystem/go-grpc-middleware/blob/master/logging/logrus/ctxlogrus/context.go#L36 it looks like you need to call ctxlogrus.ToContext(context) first, before you can call extract.

I can't find ToContext being called. This makes https://github.com/freifunkMUC/wg-access-server/blob/master/internal/services/middleware.go#L22 a null logger.

[2022-03-02 10:22] #66 closed

[2022-03-02 16:50] halkeye commented on #118
Ah it probably works for grpc. I was having oauth errors, so not the grpc

Maybe the better solution is for the middleware to check if extract returns something.ill poke at it more.

[2022-03-03 01:14] halkeye commented on #118
okay so https://github.com/grpc-ecosystem/go-grpc-middleware/issues/467 describes the issue pretty well. Sadly there's no way to opt out of this behavior.

[2022-03-03 10:03] GoliathLabs opened #124 "Add Typos gh-action"
As suggested by @halkeye in #122 we should add the https://github.com/crate-ci/typos gh-action to automatically check for typos in our code

[2022-03-06 20:40] elcomtik opened #127 "Add option to configure nodePort"
I'm deploying wg-access-server by helm chart to my self hosted k8s. I would like to use service type nodePort and point dnat firrewall rule on it.

Because of this I need to configure static nodePort. This is currently not possible as I looked into [service template](https://github.com/freifunkMUC/wg-access-server/blob/master/deploy/helm/wg-access-server/templates/service.yaml).

[2022-03-06 22:28] DasSkelett commented on #127
https://github.com/freifunkMUC/wg-access-server/pull/125 adds the ability to configure `port` and `targetPort`, but that's probably not enough for you, right? You also need the ability to configure the `nodePort` option?

[2022-03-06 22:32] elcomtik commented on #127
yes, nodePort is additional setting

[2022-03-09 11:21] elcomtik commented on #127
Now, when #125 is merged I can make PR for this enhancement. It will be pretty simple.

@DasSkelett are you interested in this contribution?

[2022-03-09 11:27] DasSkelett commented on #127
Yes, please go ahead! We are very thankful for contributions, especially regarding Helm.

[2022-03-09 12:15] elcomtik commented on #127
@DasSkelett PR ready, can you approve it for tests?

[2022-03-09 12:34] DasSkelett commented on #127
Fixed by #129

[2022-03-09 12:34] #127 closed

[2022-03-10 09:45] #124 closed

[2022-03-12 21:34] elcomtik commented on #97
I can see that issue still persist as I looked that action for 0.6.0 failed wit same error as @awlx reported. I can see that once before it run successfully, how's that possible?

[2022-03-12 21:45] DasSkelett commented on #97
For the last run @awlx removed the branch protection briefly and re-ran the workflow.
The workflow permissions should've been updated in the meantime, but it looks like that wasn't successful.

[2022-03-15 15:36] elcomtik commented on #97
@DasSkelett CWoul you please remove branch protection and re-run helm update action to publish 0.6.0 chart?

[2022-03-15 15:49] DasSkelett commented on #97
I can't, I don't have the necessary admin rights in this repo. We'll have to wait for @awlx to have time to do it.

[2022-03-15 15:50] awlx commented on #97
@DasSkelett it's fixed already I disabled the protections

[2022-03-15 16:33] DasSkelett commented on #97
@DerRockWolf @elcomtik @zandemax would one of you like to take over maintenance of the Helm and Kubernetes files and packages in a separate repository?

I don't think our poking and tinkering is very fruitful. Nobody of us uses Helm and has much experience with it. I believe you would get a more pleasant experience doing it yourselves, being much more familiar with the topic. And it might be easie

[2022-03-15 17:11] elcomtik commented on #97
I can take maintenance of chart. The question is if you want it under your GitHub organization or not.

I'm also considering creating ansible role for deployment without k8s.

[2022-03-15 17:12] awlx commented on #97
We can create a repo under this org if you like, but also feel free to do it under a different org :).

[2022-03-15 17:16] elcomtik commented on #97
I think that, it would be accepted better by community, if the app and chart repo stays under one org

[2022-03-15 17:20] zandemax commented on #97
I'm also happy to assist in the maintenance of the Charts if needed, @elcomtik

[2022-03-15 17:28] elcomtik commented on #97
Any help is welcomed.

Initially I would like to create repo and gh page pointing to eg. charts.freie-netze.org and put there our existing chart.

I would like to create build it like Authelia does. You can look at https://charts.authelia.com/ and their charts repository https://github.com/authelia/chartrepo

Charts are versioned independently on app releases, so chart features can be added contin

[2022-03-15 17:29] awlx commented on #97
Any wishes for the naming? I will create the repo right away and make you maintainers :).

[2022-03-15 17:33] elcomtik commented on #97
Let it be charts, or if you want it to be dedicated to wg-access-server only, then wg-access-server-chart.

[2022-03-15 17:34] elcomtik commented on #97
Additionally I would propose to abandon k8s manifest maintenance. I looked on it and currently it seems to be generated from helmchart and in my opinion it provides no additional value.

[2022-03-15 17:46] zandemax commented on #97
I'd concur with that, there is no real use in having dedicated k8s manifests outside the helm chart. If one really needs them they can get them out of the helm charts by rendering it locally. (Maybe we could consider a hint to the helm `template` command in the docs for anyone looking for that)

[2022-03-15 17:50] awlx commented on #97
@zandemax @elcomtik I invited you both to the team and created the repo.

[2022-03-15 18:05] elcomtik commented on #97
Thanks, I already joined. I will move with this conversation into chart repo issues.

[2022-03-15 18:10] DerRockWolf commented on #97
I would also be happy to assist you two 😄

@elcomtik

That looks great! I think it would be valuable if we would maintain a `CHANGELOG.md` and/or put the changes into the release like the [cortex chart](https://github.com/cortexproject/cortex-helm-chart) does it.

[2022-03-15 18:29] elcomtik commented on #97
@DerRockWolf you are welcomed to join us.

Of course we can add it.

[2022-03-24 23:59] Xelibix opened #135 "Disable Authentification"
Thanks for maintaining that project.

I'm looking for disabling the basic auth on the webui, I would like to use an alternate login method.
I could be trigger by an environment variable "WG_DISABLE_AUTH".

[2022-03-25 09:30] DasSkelett commented on #135
This should be addressed through #123

[2022-03-27 12:32] #135 closed

[2022-03-31 07:31] nathanael-h opened #136 "Multiple IPv4 ranges in AllowedIPs"
Hello,
I tried to add multiple IPv4 ranges in AllowedIPs but I got an error:
[code]

Here is the corresponding line in docker-composer.yaml
[code]

I got two questions: is this possible and what if it is, what is the correct syntax? Else could we dig to add such feature?

[2022-03-31 08:48] nathanael-h commented on #136
Okay, thanks for the info about the newline char. I will try this.

It could also be better to have splitting on comma, indeed. Thanks again.

[2022-03-31 13:31] nathanael-h commented on #136
So it works well like this:
[code]

So as it works we could close this issue, unless you prefer we keep it open, looking for a improvment on the parser. As you wish.

[2022-04-02 14:40] warlock9600 opened #150 "how to use grpc calls"
hi everyone!
i'm run wg-access-server in kubernetes with postgres backend, but not understand how to use grpc calls to automate user CRUD operations

can you tell me how to implement access to grpc?

[2022-04-02 14:46] warlock9600 opened #151 "pgwatcher doesn't receive notifications behind pgbouncer"
hi everyone!
i'm run wg-access-server in kubernetes with postgres backend with several replicas of app.

But when I create new peers through the interface, they do not appear in the config until the pods are restarted.

how to fix this issue?

log example:
[code]

[2022-04-02 14:55] DasSkelett commented on #150
I'm not sure if I understand the question correctly, do you want to create users through the gRPC API?
If so, that's not possible. The wg-access-server only supports either specifying basic auth users statically in the config file, or through an OIDC backend, or a GitLab instance (which is also implemented through OIDC). See https://www.freie-netze.org/wg-access-server/4-auth/

If you want to have

[2022-04-02 15:03] warlock9600 commented on #150
ok, i'm wrong %)

i meant creating/deleting peers using gRPC API
`devices.proto` provides several methods (AddDeviceReq, ListDevicesReq, etc) - how to use them from another application?

[2022-04-02 15:06] DasSkelett commented on #151
Do they only not appear for the replicas, or also not even in the instance you created it in?
Are you only running replicas of wg-access-server, or also PostgreSQL in HA?

I think the HA functionality of wg-access-server was still experimental when we forked the project, and I never tried it out myself. So it's very possible it doesn't quite work yet, but hopefully we can fix it.

[2022-04-02 15:20] warlock9600 commented on #151
yes, when i scale replicas to one, this issue remains.

for example - now i'm scale replicas to one piece, and from web interface delete all peers.
after - attach shell directly to pod, and input `wg` command - in output all peers are visible.

meanwhile, in log i see that message:
`time="2022-04-02T15:15:12Z" level=debug msg="found 0 device(s)" file="sql.go:161"`

and after pod restart, all peers

[2022-04-02 15:20] DasSkelett commented on #150
You should be able to generate the code from the .proto files for the language you want, then hook it together. You can check the frontend code as an example, e.g.
https://github.com/freifunkMUC/wg-access-server/blob/ad98910320ff1bda5922b384d0bd3893e906e28b/website/src/components/AddDevice.tsx#L41-L67
for creating a wireguard-native ini-style config file after adding a new device.

[2022-04-02 15:45] DasSkelett commented on #151
Hm, I can't reproduce this yet, running it "bare-metal". I just started it with a PostgreSQL as storage backend, and the new peer shows up instantly in the output of `wg` after creating it in the UI.

There are a few lines missing from your log that I'd expect to show up, which indicate that the postgres-listener doesn't even receive notifications about the changes:
[code]

Can you check if there'

[2022-04-02 15:51] warlock9600 commented on #151
`time="2022-04-02T15:49:01Z" level=debug msg="creating postgres watcher" file="pgwatcher.go:16"`

¯\_(ツ)_/¯

[2022-04-02 15:56] warlock9600 commented on #151
arrrrrrrghgrhr, try that w/o pgbouncer - ok

[2022-04-02 16:05] DasSkelett commented on #151
Aha! That is interesting. So pg-events doesn't like going through pgbouncer.
I'm wondering if pgbouncer doesn't relay the notifications that pg-events relies on.
I'll see if I can reproduce it now, but if you are also able to narrow it down please let me know.

For now I guess the recommendation is to connect to PostgreSQL directly, without pgbouncer in front.

[2022-04-02 16:12] DasSkelett commented on #151
This sounds like the culprit:
https://www.pgbouncer.org/features.html

Can you confirm whether your pgbouncer is running in "Transaction pooling" mode, and if so whether setting it to "Session Pooling" fixes it?

[2022-04-02 16:19] DasSkelett commented on #151
I wonder if there's a way to detect that, because then we could fallback to the gormwatcher. HA would be broken both ways (needs to be documented), but it would allow single-instance deployments behind a "Transaction Pooling" pgbouncer.

[2022-04-02 16:25] warlock9600 commented on #151
yeah, at "session" mode of pgbouncer it works fine!

thank you!

[2022-04-02 16:28] #151 closed

[2022-04-02 16:40] warlock9600 commented on #150
uh, nope

for example

i have locally installed Postman with added proto scheme from repository
how to make from Postman gRPC request to proto.Devices with ListAllDevices method?

[2022-04-02 17:04] DasSkelett commented on #150
I don't know Postman aside from that it exists, but this could be a start https://blog.postman.com/postman-now-supports-grpc/ ?
But we use gRPC-Web to be precise, which might or might not work with Postman.

But I think I need to point out that the API isn't meant as a standalone one, it's primary purpose is the consumption through the wg-access-server frontend. I also can't promise that we don't

[2022-04-02 17:24] warlock9600 commented on #150
hmm, can you give an example of how to use any of these api requests via http?

[2022-04-02 17:57] DasSkelett commented on #150
Not really, no. Because while the underlying transport is HTTP, the POST body data is protobuf-encoded (and maybe some grpc-specific additions?). You should let protoc's code generation generate the client code for whatever programming language you need and build anything else around that. See https://developers.google.com/protocol-buffers/ and https://grpc.io/ for basics about protocol buffers an

[2022-04-02 22:08] #136 closed

[2022-04-03 12:45] DasSkelett commented on #97
Is there a way we can assist you three (that doesn't require k8s/Helm knowledge)?
I'd like to remove all Helm files and the workflow from this repository before the next release.

[2022-04-03 20:38] nathanael-h commented on #136
Oh, you fixed this so quickly, many thanks!

[2022-04-04 10:35] nathanael-h opened #154 "Auth OIDC and Gitlab errors, but nothing in logs"
Hello,
I am trying to configure OIDC or Gitlab auth.
The point is that I have for both I end with an error like this on web:

[code]
But even with log level set to DEBUG I have nothing in the logs output of the wg-access-server container.

So do you think I could have more logs to understand what is the error I have? Or maybe do you see any bad config I made?

Here is my config.yaml

[code]

[2022-04-04 12:04] DasSkelett commented on #154
Yeah, the missing logs for grpc endpoints was to be fixed with #119, but I think I'm going to split that out into a separate PR now since I've got some code for this already.

[2022-04-04 12:19] nathanael-h commented on #154
Ok, sorry I saw this issue, and I thought it was something different. If you need me to test some PR about this I can try .

[2022-04-05 12:39] DasSkelett commented on #150
Closing now, please come back with more details if you need more help.

[2022-04-05 12:39] #150 closed

[2022-04-05 15:18] DasSkelett commented on #154
If you are setup for building the binary or Docker image from source you can try #155, I would welcome testing and feedback.
The config looks good to me, syntax-wise. Could be that wg-access-server can't reach the `Issuer`, but also anything else.

[2022-04-06 09:16] nathanael-h commented on #154
Hello, the problem was on the OIDC server that was not sending a `name`value. We have been able to  fix this on our side thanks to the logs provided via #155 :sunglasses: :+1:

[2022-04-06 09:16] #154 closed

[2022-04-06 09:37] DasSkelett commented on #154
Nice to hear! I've also added a commit to #155 to handle a missing `name` gracefully, it's not needed and only optional for the "All Devices" list (where it falls back to the email address or subject).

[2022-04-06 12:07] GoliathLabs commented on #97
@elcomtik @DerRockWolf @zandemax any updates on this? There hasn't been much activity in the chart repo lately.

We want to "migrate" the helm files & the corresponding workflow over to the new chart repo before publishing the new release. Otherwise the files will be removed from wg-access-server for the time being.

[2022-04-06 13:19] elcomtik commented on #97
I'm sorry for inactivity, I've been busy past weeks. Panning to work on this soon.

Do you have set a date for removal from original repo?

[2022-04-06 13:29] DasSkelett commented on #97
As soon as possible ;) I am considering a small release with a few bugfixes this week/weekend, and I want the files to be gone by then so we don't run into any issues with the workflow again.

[2022-04-06 14:57] #102 closed

[2022-04-08 17:55] #118 closed

[2022-04-10 13:04] GoliathLabs commented on #97
What about you @DerRockWolf & @zandemax are you still interested?

[2022-04-11 15:35] DerRockWolf commented on #97
I am still interested but I sadly have little time to support at the moment.

[2022-04-14 21:37] DasSkelett commented on #97
Removal in progress: https://github.com/freifunkMUC/wg-access-server/pull/164
Keeping the existing chart packages for now, but will remove soon as well so people don't stay behind on outdated versions.

[2022-04-22 15:13] nathanael-h opened #166 "[security] Web - Logout does not really logout"
Hello,
I have basic and OIDC auth on 2 different servers. I noticed that on Basic auth if I login, then logout, then click again on Basic I do not have to enter credentials again. For me it is a security issue. I think that if a user using basic auth click on logout, then when someone click to login with basic auth it must ask for id and pwd.
Issue seen on version 0.6 and 0.7.

[2022-04-22 15:18] DasSkelett commented on #166
Yeah I've encountered it myself already. Without investigation yet, I believe it is the browser which caches the basic auth credentials, and we somehow need to tell it to forget them

[2022-04-22 18:24] DasSkelett commented on #166
Well that doesn't sound good :/

https://en.wikipedia.org/wiki/Basic_access_authentication

So I guess the primary answer is not to use basic auth if you require this level of security and have no other means to avoid other persons accessing your browser.

But I'm also going to look for another software-side solution, shouldn't this be a common problem? (but maybe nobody else uses Basic Auth anymo

[2022-04-22 19:14] nathanael-h commented on #166
I thought it was using a cookie, because when I erase "data and cookies from this site" and I reload the page I am logged out (on Firefox Linux)

[2022-04-24 10:59] DasSkelett commented on #166
After your browser sends the basic auth credentials the sever does indeed return a session cookie.
Logging out does also reset this cookie (for any authentication method), that's why it'll prompt you to login again when trying to visit any page.
But when you click on the basic auth sign-in button again, your browser passes the cached credentials automatically.

Clearing website data/cookies does g

[2022-04-26 06:36] nathanael-h commented on #166
Hello, I read a little about Basic auth logout issues. Indeed it is not easy to solve, sorry for the noise about this. Thanks also for your explanations.
Your suggestion to replace this auth mecanism by a "simple auth" that send credentials via POST and uses cookies seems a lot more reliable. So it would be a nice improvement espacially for the people who do not use another auth backend.
On my sid

[2022-04-26 09:21] DasSkelett commented on #166
No worries, I'm already working on it: https://github.com/DasSkelett/wg-access-server/tree/feature/simple-auth

Let's keep the issue open to track it, I'll close it with the PR.

[2022-04-27 14:24] nathanael-h opened #168 "[feature] Customize config filename"
This is a feature request.
I'd like to be able to customize the config filename. Because this filename is used as connection name in clients (or at least on different Linux using network manager).
I saw it is harcoded here https://github.com/freifunkMUC/wg-access-server/blob/b71ad3fbfedce8c92c4fda0afdc2d3ee327e8dc0/website/src/components/GetConnected.tsx#L35
Maybe I could try a PR, with some tips.

[2022-04-27 17:09] DasSkelett commented on #168
Just so I understand the details, does renaming the file after downloading not work, or would it just be for convenience to avoid this step?

Do you have in mind editing the filename in the web UI right before downloading (so users can choose it themselves), or setting it globally in the server config.yaml for everyone?

[2022-04-28 07:10] nathanael-h commented on #168
Yes, I can rename the file after downloading, but for convenience I would like to avoid this.

I was thinking of defining the name in an optional setting, that would be applied server-wide.

[2022-04-30 12:07] DasSkelett commented on #168
I see. In this case it needs a new config option here:
https://github.com/freifunkMUC/wg-access-server/blob/master/internal/config/config.go

Maybe also a commandline flag here:
https://github.com/freifunkMUC/wg-access-server/blob/b71ad3fbfedce8c92c4fda0afdc2d3ee327e8dc0/cmd/serve/main.go#L38-L63

To communicate it to the frontend it should probably sent as part of the `InfoRes` response to the `I

[2022-05-06 15:42] #168 closed

[2022-05-10 13:19] nathanael-h commented on #168
Hello @DasSkelett would it be possible to build and release a new image with this feature?

[2022-05-16 09:54] nathanael-h opened #179 ""internal server error" but nothing in logs or traces"
Hello,
I have an issue similar to https://github.com/freifunkMUC/wg-access-server/issues/154 but I am not certain it is related to auth.

I am running the v0.0.7 with docker-compose. The only auth mechanism enabled is OIDC. Sometimes users got a 500 error with "internal server error" on the webui. This only happens if the user has already logged-in at least once. If he cleans cookies and reload it

[2022-05-16 13:23] DasSkelett commented on #179
Ugh, that's the problem with the `ctxlogrus` being used in places it shouldn't be and thus being a no-op. We'll have to replace it with a proper logger there.

But looking at the line, the only situation where there can be an error is if `session.Identity`/`user` is nil making `claimsMiddleware` return an error:
https://github.com/freifunkMUC/wg-access-server/blob/b5992feecdeb8433fcfc75b4fd3e53255

[2022-05-16 14:04] pprometey opened #180 "how create preset user?"
I want wg-access-server to be used in conjunction with Wirehole, user friendly. How to create a preset user?

[2022-05-16 14:09] DasSkelett commented on #180
What do you consider a preset user?

[2022-05-16 14:29] pprometey commented on #180
so that I can connect via VPN to the Wireguard server, without creating a user via the UI.
config file

[2022-05-16 14:31] pprometey commented on #180
i like going https://github.com/linuxserver/docker-wireguard#parameters when i can set the variable -e PEERS=1

[2022-05-16 14:33] pprometey commented on #180
first i used this project but it is very buggy and unpredictable https://github.com/linuxserver/docker-wireguard
I deploy it on oracle cloud arm64 base

[2022-05-16 14:45] DasSkelett commented on #180
Basic Auth users with access to the web UI for generating their own device configs can be hardcoded in the config file under the `auth.basic:`, see https://www.freie-netze.org/wg-access-server/4-auth/
Alternatively you can hook up your own OIDC backend.

But this is different from how the linuxserver/wireguard image works, which generates actual WireGuard config files right away and outputs them i

[2022-05-16 15:21] pprometey commented on #180
I just didn't want to release the Wireguard control panel into the public space, but wanted to hide it behind a VPN

[2022-05-16 15:50] #180 closed

[2022-05-16 16:10] pprometey commented on #180
Thanks Freifunkm , you helped me a lot. A little later I will show the results of your help.

[2022-05-17 16:02] nathanael-h commented on #179
About replacing `ctxlogrus` I think I won't be able to provide PR or help...

I will work on reproducing the issue, and checking what is happening on the OIDC backend server we use. Maybe the real problem in on this server. I would have use logs, but your comment above help me also.

[2022-06-02 17:20] nathanael-h commented on #179
Nope, I did not took the time to dig further on my OIDC provider.
 No problem for the time 😉 Thanks for your PR #194 I will try this hopefully in the next days. And update you.

[2022-06-09 11:28] #166 closed

[2022-06-13 01:13] michael-robbins opened #200 "Adding a 'user' claim similar to the 'admin claim for OIDC"
This would restrict users for being able to access the interface *at all* unless they have a specific group assigned!

[2022-06-15 17:46] #179 closed

[2022-06-15 17:50] awlx opened #201 "5xx after failed auth"
If you fail to auth to the service because of wrong password or wrong identity provider, the page will always return a 5xx error.

Instead of this there should be a redirect to the login page to try again.

[2022-06-15 18:21] DasSkelett commented on #179
I can trigger this error by aborting the login on the OIDC provider's page and opening any wg-access-server but /signin again.
This is because we don't set an identity in the loginHandler for OIDC, because there is none yet, until the callback.
https://github.com/freifunkMUC/wg-access-server/blob/29c783fedb5214e63b7ea2b8522d763606e417bb/pkg/authnz/authconfig/oidc.go#L75-L77

As far as I have seen

[2022-06-15 18:35] DasSkelett commented on #201
Hm, this might actually be the same problem as https://github.com/freifunkMUC/wg-access-server/issues/179#issuecomment-1156789316, especially if you encountered it after aborting the login flow from KeyCloak.

[2022-06-15 19:27] #201 closed

[2022-06-16 06:35] nathanael-h commented on #179
Hello @DasSkelett you were faster than me: we made some tests and looked in the code yesterday, and we found like you that the issue `User is not logged in` is probably related to a `AuthSession` without `Identity`.
Like you we could reproduce the issue by aborting the OIDC login flow, and coming back to the homepage. I wanted to report it, but you have already filled issue #201 and merge a PR to

[2022-06-16 12:58] nathanael-h commented on #179
I confirm #202 fixes the 500 internal server error that raised when OIDC login is aborted. Thanks!
Do you have an ETA for a new release?

[2022-06-16 13:01] DasSkelett commented on #179
Nice! We already published v0.8.0 yesterday with this fix included: https://github.com/freifunkMUC/wg-access-server/releases/tag/v0.8.0

[2022-06-16 13:02] marob opened #203 "`manifest.json` should probably be removed"
When checking console logs with an OIDC authentication configuration, we can see some CORS-related errors:
[code]

This is because "The request for the manifest is made without credentials (even if it's on the same domain), thus if the manifest requires credentials, you must include crossorigin="use-credentials" in the manifest tag." (see https://web.dev/add-manifest/#link-manifest).
So the reques

[2022-06-16 13:08] marob opened #204 "`go118/netip` dependency not available anymore"
It looks like `golang.zx2c4.com/go118/netip` dependency doesn't exist anymore, making dependency retrieval fail.

I've found a workaround by replacing the dependency by [`github.com/thepudds/go118-netip`](https://github.com/thepudds/go118-netip) by adding the following configuration in the `go.mod` file:
[code]

But as [their README](https://github.com/thepudds/go118-netip/blob/master/README.md) s

[2022-06-16 13:10] nathanael-h commented on #179
Oops :hand_over_mouth:

[2022-06-16 13:17] DasSkelett commented on #204
What error do you get? It still downloads fine for me, the [git repository appears to still be there](https://git.zx2c4.com/go118-netip) and proxy.golang.org should also still have it cached.

That said, the "few more weeks" from https://github.com/freifunkMUC/wg-access-server/pull/140#pullrequestreview-929566544 might be over by now, and we can consider dropping support for Go 1.17 (we _do_ alrea

[2022-06-16 13:27] DasSkelett commented on #204
Ah okay, without proxy.golang.org in GOPROXY I receive this error:
[code]
Looks like it's the golang.zx2c4.com -> git.zx2c4.com link that has been removed.

[2022-06-16 13:29] marob commented on #204
I'm having the following error:
[code]

I don't know go ecosystem nor how the dependency management is working.
But https://git.zx2c4.com/go118-netip URL doesn't match go118/netip ("-" instead of "/"), so I was supposing it was renamed or something (or maybe I'm misunderstanding how it works).

But, as you can see above, there is a 404.

It looks like proxy.golang.org still has some trace of it: h

[2022-06-17 10:53] systems-levigo opened #205 "WG_DNS_ENABLED=false seems not to work"
Hello there!
The environment variable `WG_DNS_ENABLED=false` seems not to work.
Our test installation is using docker-compose:
[code]
We set `WG_DNS_ENABLED=false` but our client configuration looks like this:
[code]
Shouldn't the "DNS" variable be empty or are we doing something wrong?
Also the dns server is starting:
[code]
In general we want to use the client resolver and sometimes we also need

[2022-06-17 11:09] DasSkelett commented on #205
Did you override it in config.yaml maybe? That would take precedence.

[2022-06-20 06:55] systems-levigo commented on #205
Only auth specifzcations are set in config.yaml.

But you are right with the env vars:
``
WG_WIREGUARD_PRIVATE_KEY=sensored
WG_STORAGE=sqlite3:///data/db.sqlite3
WG_VPN_CLIENT_ISOLATION=false
WG_VPN_CIDRV6=0
WG_CONFIG=/data/config.yaml
WG_ADMIN_PASSWORD=sensored
``

There are missing:
``
WG_EXTERNAL_HOST=sensored
WG_DNS_ENABLED=false
WG_IPV4_NAT_ENABLED=true
WG_VPN_GATEWAY_INTERFACE=eth0
``

[2022-06-20 07:04] systems-levigo commented on #205
Seems to work within the config.yaml.
Thanks for the hint!

[2022-06-20 07:04] #205 closed

[2022-06-20 21:01] thechubbypanda opened #207 "How to write a claim mapping"
I'm trying to setup an admin mapping using Authentik but I'm having trouble making sense of the claimMapping.
It sounds very powerful but I've been unable to decipher the correct keywords.

I've made a scope mapping in authentik that returns True or False depending on if the user is an admin. How do I explain that with a claimMapping?

Here's the config:

[code]

Does the claim mapping have access

[2022-06-21 10:20] DasSkelett commented on #207
I don't know too much about OIDC apart from the basic login flow, but I think you need to publish the admin property as a user info claim, not scope, yes.

For the claimMapping expression, you receive the claims as returned as part of the user info by the server, basically as a map (similar to a JSON object). If you manage to create an `admin` claim, then your `claimMapping` should work as is.

[2022-06-27 06:27] warlock9600 opened #208 "Issue with Rx/Tx statistics"
Hi!
I have installation of wg-access-server in kubernetes with postgres backend.

The statistics are not working correctly. It seems that when updating data in a multi-replicated installation, the data is not summarized, but overwritten.

Application version:` wg-access-server:v0.6.0`

Do you have any ideas how to fix this?

[2022-06-27 09:04] warlock9600 commented on #208
not very important, but I really want this feature.
I would do it myself, but I am very weak in Go.

if necessary, I can help with testing this functionality

[2022-06-27 11:55] #204 closed

[2022-06-27 12:07] #203 closed

[2022-06-27 12:11] DasSkelett opened #210 "Docs failing to build"
Docs started failing to build today with some Jinja error. Probably a breaking update of Jinja2 or another dependency.

https://github.com/freifunkMUC/wg-access-server/runs/7072362929?check_suite_focus=true
[code]

[2022-06-27 12:54] warlock9600 commented on #208
By the way, it might be better to use the following algorithm:

- write current statistics to dictionary
- clear locally
- sum the values in the database with the values from the dictionary

[2022-06-27 18:08] DasSkelett commented on #208
To my knowledge WireGuard doesn't allow us to clear or edit the bytes counter, only read it

[2022-06-27 19:06] #210 closed

[2022-06-27 19:53] hooray4me opened #212 "config.yaml location"
I can't seem to find where I should place my config.yaml file. I've tried putting it in the root directory of wg-access-server. It's probably staring me right in the face. Can someone point me in the right direction?

[2022-06-27 19:57] DasSkelett commented on #212
I assume you are running it through Docker, from our images?
If so, `/config.yaml` is the location it looks at by default.
You can change it through the `WG_CONFIG` env car.

If I didn't miss anything, it looks like we haven't documented this anywhere, we should fix that.

[2022-06-27 20:00] hooray4me commented on #212
I am using docker-compose...
![image](https://user-images.githubusercontent.com/12399138/176025144-699fb6e7-2294-44e3-bf6e-2a858cdbd6ff.png)
I've tried adding WG_Config=/config.yaml to the docker-compose and changing the ports, but it doesn't seem to want to use it.

[2022-06-27 20:04] hooray4me commented on #212
![image](https://user-images.githubusercontent.com/12399138/176025908-a39e93e6-62ed-463c-9a08-ad7aac12d4b4.png)

![image](https://user-images.githubusercontent.com/12399138/176025930-f2045eb3-4a49-429e-91b9-06f5d8f790ca.png)

What am I missing?

[2022-06-27 20:10] DasSkelett commented on #212
You also need to actually mount the file into the container, otherwise it can't access it. See the commented out example from the repo's docker-compose.yml (you need to uncomment it so it takes effect):
https://github.com/freifunkMUC/wg-access-server/blob/e0fbfa7fdbd58543218328288323425dfb4cd836/docker-compose.yml#L15-L17

[2022-06-27 20:28] DasSkelett commented on #212
You need to specify the changed port inside config.yaml (or as `WG_WIREGUARD_PORT` env car). The port mapping in docker-compose.yml is only for Docker itself, the application running inside the container doesn't know about it.

[2022-06-27 20:28] hooray4me commented on #212
ah, thanks

[2022-06-27 20:28] #212 closed

[2022-06-27 21:17] hooray4me opened #213 "ADFS as OIDC provider help"
I am trying to use my existing adfs setup for my oidc provider. I created an application group, client id and secret and DO have them talking... just not the same language...

```wg-access-server    | time="2022-06-27T21:07:01Z" level=error msg="Unable to get user info: 401 Unauthorized: " file="middleware.go:23" stack="goroutine 75 [running]:\nruntime/debug.Stack()\n\t/usr/local/go/src/runtime/de

[2022-06-27 22:15] DasSkelett commented on #213
Hm, sounds like ADFS doesn't fully support the /userinfo endpoint:

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-faq#i-m-trying-to-get-more-claims-on-the-userinfo-endpoint--but-it-s-only-returning-subject--how-can-i-get-more-claims-

The alternative would be reading the ID token:

https://openid.net/specs/openid-connect-core-1_0.html#IDToken

However the current wg

[2022-06-27 22:57] hooray4me commented on #213
sooo, does this turn into a feature request to support using the ID token? I'd be happy to test it with you if so...

[2022-06-27 23:11] hooray4me commented on #213
do you have an example payload of what is expected to be returned in the userinfo claim?
looking through the doxumentation, It looks like the claim info returned from the ID token can be customized.

[2022-06-28 01:24] hooray4me commented on #213
In the interm, is there a way to do NO AUTH at all?
Then I could lockdown the container and put Shibboleth in front of it? I know how to set that up and use SAML tokens with ADFS... that's how I front end my other stuff for sonarr, sab, emby etc...

[2022-06-28 09:26] DasSkelett commented on #213
I think strictly we only need the user subject (`sub`) claim, which even the ADFS UserInfo endpoint returns, if you can get it to no longer return a 401. However for a claim mapping to manage admins like you want to do, we need additional claims (`group_mempership` in this case).
Unless someone more knowledgeable about ADFS and OIDC can tell us that there is a way to use the UserInfo endpoint, yea

[2022-06-28 11:27] DasSkelett commented on #207
Hey @thechubbypanda, did the solution from https://github.com/goauthentik/authentik/issues/3135 to return a dict work?

[2022-06-28 16:09] DasSkelett commented on #213
Do you want to test #214? If you add `claimsFromIDToken: true` to the `oidc` config it _hopefully_ works with ADFS.

[2022-06-28 16:21] hooray4me commented on #213
Yes I do... will let you know my results in a few

[2022-06-28 16:30] thechubbypanda commented on #207
Yes, returning a dict appeared to produce a working claim mapping. However I ended up looking at the groups list returned by the `profile` scope.

My claimMapping expression ended up looking like this: `"'admin' IN groups"`.

[2022-06-28 16:31] #207 closed

[2022-06-28 16:44] hooray4me commented on #213
![image](https://user-images.githubusercontent.com/12399138/176235061-a7327b2c-989c-42b3-8a67-ffee224fa07d.png)

[2022-06-28 16:46] hooray4me commented on #213
I think it needs openid and allatcliams looking at the docs for the custom ID token
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/custom-id-tokens-in-ad-fs

[2022-06-28 17:04] hooray4me commented on #213
I get redirected to to ADFS and provide credentials...
[code]
I login successfully and it passes me back to
[code]
and I still get bad nonce

[2022-06-28 17:09] DasSkelett commented on #213
Okay, the problem is most likely that the first redirection happens with the state/nonce being `8K4UZbDhKURZrB04NQ%2FBWssuR4hnt%2BNkc%2FIQ2Bvnczo%3D` but in the second one it appears to be unescaped: `8K4UZbDhKURZrB04NQ/BWssuR4hnt+Nkc/IQ2Bvnczo=` :thinking:

[2022-06-28 17:20] hooray4me commented on #213
well thats special lol... I tried to trick it and put the urlencoded version of the state but it didnt work

[2022-06-28 17:36] DasSkelett commented on #213
I've just pushed a commit to my PR which changes the encoding of the random state bytes to an URL-safe base64 variant. Please try if it works now.

(I do believe this is a bug of ADFS from a quick look around, it really should just pass the state data back as it received them, not do an (un)encoding)

[2022-06-28 17:47] DasSkelett commented on #213
Now this sounds very related: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#bug-fix-azure-ad-will-no-longer-url-encode-the-state-parameter-twice !

The description is the other way around then your pasted URLs, but maybe it got messed with even more (in the other direction) when copying it out of the browser URL bar.

Is there a chance that your ADFS is

[2022-06-28 18:33] hooray4me commented on #213
I will pull your commit and test. The ADFS farm is on Server 2019... I will check and see if i'm behind on patches as well. Will report back soon

[2022-06-28 19:40] hooray4me commented on #213
same bad nonce
[code]
[code]

[2022-06-28 20:12] DasSkelett commented on #213
Hm, are you sure you pulled the commit? There's still a `+` in the state string, which shouldn't be there anymore.
That said, I now realize that there will still be the `=` padding at the end, which will still be en- and decoded.
So I think updating or upgrading ADFS to get the mentioned patch is your best bet.

[2022-06-28 20:24] hooray4me commented on #213
I did upgrade everything... and my local branch has your change....
![image](https://user-images.githubusercontent.com/12399138/176278134-431fbbba-f865-4c35-83fb-d71096a49a80.png)

[2022-06-28 21:36] hooray4me commented on #213
Is there some logging we can enable or even temp try to capture what is returned and checkout its format?

[code]

[2022-06-29 12:12] DasSkelett commented on #213
No, the response body isn't logged. This is also inside library code of go-oidc, so it's hard to add logging.
But the body doesn't really matter as long as it returns a 401. If there is a body at all, it'll only be an error message from ADFS (although this error message could help figuring out _why_ it returns a 401).

But I'm wondering, did you manage to get this 401 error again, instead of "bad

[2022-06-29 13:40] hooray4me commented on #213
I have been trying different transform rules to try and deliver the expected key pairs back.
This combination give me **bad nonce**
![image](https://user-images.githubusercontent.com/12399138/176450040-0bc22b5e-fe69-4da2-93ee-72b70e052296.png)

I wonder if the Email Addresses attribute needs to be transformed to the first email in the list...

[2022-06-29 19:48] hooray4me commented on #213
I've been doing extensive testing and this is what I have:
If I take the response code between the **code=** and **&state=** and put it in powershell and call the /oauth2/token endpoint, I can get a token back and it has name, email and group_membership....

I am still getting bad nonce in the browser though...
![image](https://user-images.githubusercontent.com/12399138/176529176-4ac9e83f-fd39-442

[2022-06-30 02:05] hooray4me opened #215 "More control over users/devices"
Is it possible to add some controls on number of devices a user can register. It would be nice to have some of these controls in the admin portal, not just a MAX device variable or something in the config.yaml.

Any future plans to be able to set additional parameters per user, when a config is created? IE some users only have access to our streaming server, so their config is and allowed ips are

[2022-06-30 11:16] DasSkelett commented on #213
So I've pushed a commit now which prints the expected and received state values when the "bad nonce" (now "bad state value") error happens. This should tell us which one's off, hopefully.

If the occurrence of the "bad nonce" error depends on which claims you configure, this would pretty much confirm a bug in ADFS. They don't have anything to do with each other in theory, if one influences the oth

[2022-06-30 17:17] hooray4me commented on #213
Initially, I got
![image](https://user-images.githubusercontent.com/12399138/176737692-600fa049-adcb-428b-8a9f-2bba9a62c03f.png)
[code]
Refresh gave me a server error, but different
[code]
repeatable each time...
first try gives  msg="Unable to get user info: 401 Unauthorized: " file="middleware.go:23"
then trying refresh gives
msg="Unable to exchange tokens: oauth2: cannot fetch token: 400 Bad Re

[2022-06-30 17:30] DasSkelett commented on #213
You aren't running the code from my branch. The error message has been changed to `Unable to get UserInfo`. Make sure you are fully rebuilding the image if you are running it through Docker.

[2022-06-30 19:00] hooray4me commented on #213
ah, well I didn't know that lol... I had changed it to **FROM --platform=linux/amd64 node:18.3.0-bullseye as website**

and it seems to be running through it. once it finishes ill note for future re-builds

[2022-06-30 19:21] DasSkelett commented on #213
Oops, small mishap on my side. Pushed a commit that should fix it, please rebuild and try again.

[2022-06-30 19:52] hooray4me commented on #213
It worked! it worked! Thank you so much for troubleshooting this with me. I'll make a list of the claim adjustments I did for ADFS as the IDP. It even pulled the correct group showing i'm an admin :)
![image](https://user-images.githubusercontent.com/12399138/176765236-657d2b1c-8e8f-4f7f-9e7e-11b0fdee9320.png)

[2022-07-01 16:28] hooray4me commented on #213
thanks, always miss it somewhere...

[2022-07-01 17:16] DasSkelett commented on #213
Also please make sure to rotate all the secrets, including the private key, admin password, wg-access-server OAuth2 client secret, they have been visible in screenshots and comments as well.

That's a good catch. A logout landing page might indeed be a good solution to this. Though it's also important to note that users are not fully "logged out", at least security-wise, if the OIDC provider cache

[2022-07-01 18:25] hooray4me commented on #213
Thanks... I don't know what the logout path is for other oidc providers, but for adfs it is /adfs/oauth2/logout

[2022-07-01 19:15] DasSkelett commented on #213
Do you have any documentation for it at hand, what it does? After all, we don't want to log the user out from the OIDC provider completely, which I'm sure would be pretty annoying for many users.
And if it just "cuts the connection" between the provider and wgas for this user, it would still only be a button press to log in again. The effectiveness and security of our logout will always depend on

[2022-07-01 19:22] hooray4me commented on #213
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/ad-fs-logout-openid-connect

[2022-07-01 19:30] hooray4me commented on #213
Here are the steps to setup ADFS:
ADFS (2016 and above) setup as OIDC Provider
1. Create 2 new Claim Descriptions (PowerShell)
[code]
[code]
2. Create a new Application Group to server claims/group
![image](https://user-images.githubusercontent.com/12399138/176957534-55836dbc-0117-493e-b709-14c7b8e03d31.png)
![image](https://user-images.githubusercontent.com/12399138/176957664-09406f73-807b-4121-a

[2022-07-01 19:34] DasSkelett commented on #213
Ah, this is about single logout. Which is nice, but a whole other beast to implement, something for another day. It would also have to be configurable, because it would log you out not only from wgas and the OIDC provider, but every other app you're logged into through the provider. Which is a pretty annoying behaviour if you don't want it.

[2022-07-01 19:39] hooray4me commented on #213
I'd be happy with just landing page that doesn't auto loop me back to being logged in... :)

[2022-07-31 13:42] iMartyn commented on #97
I could join the effort.  For now I've restored the folder on a fork, and fixed up the chart to work.  I would actually say that breaking it into a separate repo is a bit overkill, I'm not sure that the release asset trick will work for anyone expecting a real repo though, e.g. argocd, flux etc. users. (I'm an argocd user).

[2022-07-31 13:55] GoliathLabs commented on #97
The problem is that it requires quite a bit of maintenance to keep the charts up to date, and neither @DasSkelett nor I have a kubernetes/helm deployment running. As you can see, the interest in maintaining these charts has been pretty low for quite some time. What would you suggest instead?

[2022-07-31 14:04] iMartyn commented on #97
I don't feel like it should be a lot of maintenance.  The main annoyances can be CI'd away.  For instance in my last few places for internal charts we ended up using sed in the pipeline, so basically `appVersion` and in a public chart like this one `version` would be placeholders, then before `helm package` runs, you pull the version from whatever CI is building, which saves automated commits (whi

[2022-07-31 14:24] DasSkelett commented on #97
Hey @iMartyn, thanks for wanting to help. Have a look at https://github.com/freifunkMUC/wg-access-server-chart, @NismoFur and @Strangerxxx started to work on it over there. Please coordinate with them, and feel free to open pull requests there.

I would prefer it this way, the packaging should be separate and especially all these compressed binary blobs shouldn't end up in this repository, they in

[2022-08-03 10:36] DasSkelett commented on #215
We currently only use the config.yaml (and environment variables) for read-only configuration, we don't write any changes back to it or save any configuration in the database.
Thus I can see this happen as global setting that applies to all users, but I don't think we can make this editable and configurable per user in the UI (without more effort). Even more so because in the case of OIDC, we don'

[2022-08-03 12:12] #213 closed

[2022-08-19 21:22] thechubbypanda opened #240 "DNS not being set in config"
I can't seem to get the WG_DNS_UPSTREAM to appear in the configs.
My config is as follows:

      WG_WIREGUARD_PRIVATE_KEY: *********************************
      WG_CONFIG: /config.yml
      WG_VPN_CIDR: 192.168.1.128/25
      WG_VPN_CIDRV6: 0
      WG_IPV6_NAT_ENABLED: false
      WG_DNS_DOMAIN: vpn.example.com
      WG_DNS_ENABLED: false
      WG_DNS_UPSTREAM: "192.168.1.2"

I'd expect 192.168

[2022-08-19 21:27] DasSkelett commented on #240
`WG_DNS_UPSTREAM` changes the upstream of the embedded DNS proxy. The `DNS` part in the WireGuard configuration will always point to the VPN server, as otherwise you couldn't change the upstreams without breaking existing devices.

[2022-08-20 10:39] thechubbypanda commented on #240
Ok well the actual problem I'm trying to solve is to remove the MASQUERADE from ip tables... I'm not sure if this even does it however machines on the external network can't seem to get into the vpn network. Any idea how to solve that?

[2022-08-20 10:43] DasSkelett commented on #240
The `WG_IPV4_NAT_ENABLED` and `WG_IPV6_NAT_ENABLED` options are probably what you want, set them to `false`.
https://www.freie-netze.org/wg-access-server/2-configuration/

[2022-08-20 10:52] thechubbypanda commented on #240
That appears to nuke my ability to connect to anything internal or external :(

[2022-08-20 10:56] DasSkelett commented on #240
Well, you'll have to setup masquerading at the border of your network yourself with it disabled in wg-access-server, and make sure (static) routes to the VPN subnet are set up accordingly on your host and routers in your network.

Also, if you're running it in a container, you should start it with `--network=host`, as it is complex to set up proper routing into a container with changing IP address

[2022-08-20 11:02] DasSkelett commented on #240
Okay, so for this specifically, you need to make sure your gateway at 192.168.1.1 knows to route the VPN subnet 192.168.2.0/24 via the host where wg-access-server is running (192.168.1.X). And that it also correctly NATs the VPN subnet, but chances are it already does so automatically.

[2022-08-20 11:05] thechubbypanda commented on #240
Awesome, thanks I'll try it and lyk

[2022-08-20 14:35] #240 closed

[2022-08-28 02:33] catrielmuller commented on #97
I created a PR to do the Deployment and fix the documentation.
in a meantime you can use my repo if you needed.

[code]

[2022-09-30 10:45] karypid opened #251 "Base URL not configurable/respected"
Hello,

I tried to set up Traefik as a reverse proxy for wg-access-server using a typical set of rules that I use for other apps like portainer/smokeping/etc:

[code]

So this allows me to visit `http://host.domain/wireguard` which, which removes `/wireguard` and forwards it to the web application of wg-access-server.

As a result my browser then hits `http://host.domain/signin` which gives a 404

[2022-10-01 12:54] DasSkelett commented on #251
Yeah, currently wg-access-server only works on its own subdomain, and I would always recommend to set up different services on different subdomains. Many browser security and privacy features like CSRF and XSS protections only work based on the (sub-)domain.

I'd prefer the relative redirection approach to avoid another config knob, not sure how well this works with React though, and theoretically

[2022-10-03 12:42] #251 closed

[2022-10-04 09:37] SecMeyo opened #258 "OIDC tokens not invalidated"
The user's tokens do not get invalidated on signout when using an OIDC provider.

## Expected behaviour
The OIDC tokens should be invalidated via a call to the OIDC provider on logout

[code]

## Current behaviour

Cookies get deleted but not invalidated.

## Steps to reproduce

[code]

[2022-10-04 10:14] DasSkelett commented on #258
Your description doesn't match the reproduction steps shown. They steps are about the wg-access-server session cookie and shoe that it keeps working, not about the OIDC token.

But the reason that the session cookie keeps working is that you don't actually sign out. The signout path is `/signout`, not `/signin?signout=1`. If you call the first one, you will be properly logged out of wg-access-serv

[2022-10-05 17:22] SecMeyo commented on #258
Oh I see. That's an even easier fix then I guess.

nope, same result if step 2 is changed to /signout. The cookie does not get invalidated, just deleted on the client side. When I klick on "Logout" and then visit the main page, I am logged in again (even without manipulating the cookies).

I am using Keycloak. Was not aware that the logout function was not part of OIDC, here are the docs:
https://

[2022-10-09 12:48] nextsux commented on #200
I just needed something similar. This is just draft, I need to test it first. https://github.com/freifunkMUC/wg-access-server/pull/259

[2022-10-10 09:23] nathanael-h opened #260 "A configuration with same name can override an existing one"
A configuration with same name can override an existing one
Steps to reproduce:

1. Go to web interface
2. Login as user (in my case via OIDC)
3. Add a config with name "abc", download the config file and look for the keys
4. Again, add a config with the name name "abc", download the config file and look for the keys, which are different.
5. Check in databse, only the second configuration exists.

[2022-10-24 12:31] GoliathLabs commented on #260
You're right. Would you be willing to provide a PR for this issue?

[2022-10-24 12:39] nathanael-h commented on #260
Yes, I did not start work on this, but with a few tips I'd be ok to send a PR. Could you guide me a little bit?

[2022-10-24 12:45] GoliathLabs commented on #258
@SecMeyo for me the lougout/signout works perfectly with keycloak. After clicking Logout i'm being redirected to `https://my.domain.local/signin?signout=1` . Using Keycloak as well. What does your config look like? (omitting sensitive vaules)
![image](https://user-images.githubusercontent.com/8057646/197528367-ef9a10b8-1bc3-41f0-9158-5879dd666277.png)

[2022-10-24 12:50] GoliathLabs commented on #260
I think you should have a look at the `AddDevice` function (https://github.com/freifunkMUC/wg-access-server/blob/master/internal/devices/devices.go#L64) and check whether the device name is already in the database (https://github.com/freifunkMUC/wg-access-server/blob/master/internal/devices/devices.go#L130). The check should return something like "device name already taken" if it already exists.

[2022-11-05 20:33] GoliathLabs commented on #260
@nathanael-h what is the current status? Have you already had time to work on it? We would like to make a release soon and wanted to know if this patch will be included or not

[2022-11-10 07:15] nathanael-h commented on #260
Hi, I did not start, no time for now. What is the ETA for your release? Maybe I could try to make it on time. But I don't wand to delay it.

[2022-11-15 17:20] #200 closed

[2022-11-15 17:47] #258 closed

[2022-11-24 19:57] dark-age opened #272 "Ability to set custom DNS server"

[2022-11-24 19:59] dark-age commented on #272
I would like to specify a custom DNS entry in the wg.conf exported file. Example DNS = 192.168.0.5